{% block body %}
    <div class="login">
        <div class="login-form">
            <h1 class="login-form__title">
                Forgot Your Password?
            </h1>
            <p>
                Password reset link has been sent to your email. Please check your email to proceed.
            </p>
            <a class="login-form__link" href="{{ path('dtw_user_login') }}"> < Back to Login</a>
        </div>
    </div>
{% endblock body %}
