{% block body %}
    <div class="login">
        <div class="login-form">
            <h1 class="login-form__title">
                Password Reset
            </h1>
            {{ form_start(formEdit, {'action': path('dtw_user_update_password', {'token': formEdit.vars.value.token}), 'method': 'POST', 'attr' :{'novalidate':'novalidate', 'placeholder': 'Password'}}) }}
            {{ form_widget(formEdit.newPassword, { 'attr': {'placeholder': 'Password'} }) }}
            {{ form_widget(formEdit.submit, { 'attr': {'class': 'login-form__button'} }) }}
            {{ form_end(formEdit) }}
        </div>
    </div>
{% endblock body %}
