{% block body %}
    <div class="login">
        <div class="login-form">
            <h1 class="login-form__title">
                Password Changed
            </h1>
            <p>
                You have successfully changed your password!
            </p>
            <a class="login-form__link" href="{{ path('dtw_user_login') }}"> < Back to Login</a>
        </div>
    </div>
{% endblock body %}
